*{
    box-sizing: border-box;
}
body{
    margin:0 auto;
    
}

.container{
    max-width:  1170px;
    width: 100%;
    margin: 0 auto;
}

header{
    height: 60px;
    width: 100%;
    background-color: rgba(6, 186, 99, 0.8);
}

.nav-left a{
    float: left;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.nav-right{
    float: right;
}

.nav-right a{
    float: left;
    font-size: 18px;;
    line-height: 60px;
    text-decoration: none;
    color: #ffffff;
    /* margin-right: 20px; */
    padding: 0 20px;
    display: block;
}

.nav-right a:hover{
    background-color: #424242;
    color: #ffffff;
}


.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 30px;
    margin-top: 80px;
    align-items: center;
}

.hero-left{
    flex-basis: 50%;
    /* margin: auto o; */
    /* margin-top: 50px; */
}

.hero-right{
    flex-basis: 50%;
}

.hero-right img{
    width: 500px;
   margin-left: 50px;
}

.hero-left h1{
    color: #424242;
    font-size: 38px;
}

.hijau{
    color: rgba(6, 186, 99, 0.8);
    font-size: 40px;
}

.hero-left a{
    /* margin-top: 50px; */
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgba(6, 186, 99, 0.8);
}

.box{
    background-color: rgba(6, 186, 99, 0.8);
    height: 350px;
    width: 100%;
    margin-top: 150px;
}

.anggota {
    /* margin: 0 auto; */
    text-align: center;
    padding-top: 50px;
}

.anggota h2{
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

.list{
    float: left;
    width: 20%;
    display: block;
}

.list img{
    border-radius: 50%;
    width: 30%;
    margin-bottom: 20px;
}

.list p{
    margin-bottom: 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.list a{
    /* display: block; */

    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #ffffff;
    color: rgba(6, 186, 99, 0.8);
    
/* 
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgba(6, 186, 99, 0.8); */
}